.column {
    width: 20%;
    float: left;
    text-align: center;
}
img {
  width: 190px;
  height: auto;
}
li {
  list-style-type: none;
  text-align: center;
}
ul {
  padding-inline-start: 0px;
}
body {
  text-align: center;
  background-image: url("../img/background.jpg");
}
.column a {
  color: red;
}
.column h2 {
  color: blue;
}
h1 {
  font-family: fantasy;
}
.footer {
  background-color: grey;
  color: white;
}
@media screen and (max-width: 980px) {
    .column {
      width: 33%;
    }
}


@media screen and (max-width: 512px) {
    .column {
      width: 100%;
    }
}
